.counter {
  border: 1.5px solid;
  background-color: var(--head-color);
  .button {
    background-color: var(--head-color);
    padding: 3px 11px 3px 14px;
    border: none;
    font-size: 0.9rem;
  }
  .count {
    background-color: var(--head-color);
    padding: 1px 3px 3px 4px;
  }
}
