.article {
  margin: 10px 10px;
  background-color: var(--white-color);
  border-radius: 2%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  box-shadow: 5px 5px 5px rgba(1, 1, 0, 0.164);

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 8px rgba(2, 2, 0, 0.282);
    .more{
      color: rgb(0, 12, 143);
    }
  }

  img {
    width: 200px;
  }
}

.more{
  color:white;
  text-decoration: none;
}
.uan{
  margin: 10px 3.3em 10px 1px;
}
.price {
  display: flex;
  align-items: center;

}
