
  .all_pizza {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 9px;
      grid-row-gap: 5px;
      margin-left: 9px;
      margin-right: 9px;
  }
  .categories_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
  }