  .all_pizza {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 9px;
      grid-row-gap: 5px;
      margin-left: 9px;
      margin-right: 9px;

      @media (max-width: 1400px){
        grid-template-columns: repeat(3, 1fr);
    
      }
      @media (max-width: 1000px){
        grid-template-columns: repeat(2, 1fr);

      }
      @media (max-width:750px ){
        grid-template-columns: repeat(1, 1fr);
      }
  }
  .categories_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;

  
  }
  