.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logotype {
    img {
      width: 150px;
      border-radius: 50%;
    }
  }
  
  .basket {
    display: flex;
    background-color: rgb(255, 246, 230);
    border-radius: 35%;
    border: 1px solid black;

    .totalcount,
    .totalprise {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  img {
    width: 25px;
    padding: 5px;
  }
  h2 {
    color: black;
    padding: 5px;
  }
}
