.img {
  width: 45px;
}
.h1 {
  display: inline;
  font-size: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #411f044f;
  padding-bottom: 20px;
}
.basketsvg {
  width: 50px;
}