.categiries {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap;
}
.categories-list {
  border-radius: 25px;
  margin: 0 20px;
  font-size: 1.1em;
  padding: 9px 10px;
  color: black;
  cursor: pointer;
  background-color: var(--head-color);
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.336);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.36);
  margin-bottom: 5px;
}
.active {
  background-color: var(--head-color);
}

.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 1135px) {
  .mobile-menu-icon {
    display: block;
    width: 100px;
  }
  .categiries {
    display: none;
  }
  .open-burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    background-color: rgba(245, 229, 202, 0.433);
    left: 0;
    top: 220px;
    transition: all 0.1s;
    width: 25%;
    margin-left: 3.6rem;
  }
  @media screen and (max-width: 900px) {
    .open-burger {
      top: 14.1rem ;
      margin-left: 1rem;
    }
  }

  .categories-list {
    text-align: center;
    width: 75%;
    padding: 12px;
    transition: all 0.3s ease;
  }
}
