.root {
   position: relative;
  
  .lupa {
    width: 24px;
    opacity: 0.5;
    position: absolute;
    left: 5px;
    top: 3px;
  }

  .close{
    width: 24px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    top: 3px;

    &:hover{
      opacity: 0.9;
      cursor: pointer;
    }
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 10px;
    width: 180px;
    border-radius: 20px;
    padding-left: 32px;
  }

}
