.sizes_types {
    background-color: rgba(131, 164, 167, 0.318);
    border-radius: 5%;
    min-width: 70%;
    margin-bottom: 0.3em;
    padding: 5px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
    margin: 0.01em;
    li {
      list-style-type: none;
      border: 1.7px solid white;
      padding: 0.2em;
      margin: 0.2em;
      width: 100%;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .active {
    background-color: white;
  }