.item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
  
    .pizzaImg {
      width: 100px;
      height: 100px;
    }
  
    .buttonsAddMinus {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin: 0.6em;
        font-size: 1.5rem;
      }
      button{
          padding: 5px;
          background-color: bisque;
          border-radius: 30%;
      }
    }
  }
  
  .close {
    width: 20px;
  }
  .decs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  