.enmpty{
    margin: 20px 50px 20px 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
h2{
    text-align: center;
}
.link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    margin-top: 2em;
    background-color: rgb(204, 132, 80);
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 1em;
}
