:root {
  --head-color: #fadcb6;
  --white-color: #ffffffd5;
  --second-color: #411f04;
  background-color: var(--head-color);
}
 .App {
  background-color: var(--white-color);
  margin: 10px 100px;
}

